{% extends "base.html" %}
{% block title %}Search Rating View{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
    <table>
        {% for song in lst %}
        <tr>
            <td><p class="song_title"><b>{{ song.title }}</b></p></td>
            <td><p class="song_artist">artist: <i>{{ song.user.name }}</i></p></td>
            <td><p class="song_genre">genre: <i>{{ song.genre_name }}</i></p></td>
            <td><p class="song_date">date: <i>{{ song.date }}</i></p></td>
            <td><p class="song_dur">duration: <i>{{ song.duration }}</i></p></td>
            <td><a href="/{{song.id}}/read_lyrics"><p class="song_lyrics">read lyrics</p></a></td>
            <td><a href="/play"><p class="song_play">play</p></a></td>
            <td><p class="song_artist">avg rating: <i>{{ song.avg_rating }}</i></p></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}